<app-nav-bar></app-nav-bar>
<!-- Page Content -->
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Welcome to Age of Empires!</h1>
    <p class="lead">This is a strategy game, where you can learn the different civilizations that existed in history, and have fun with your friends.</p>
  </header>
  <div class="center-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZOgBVR21pWg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
  <!-- /.container -->
<app-footer></app-footer>