body {
    padding-top: 56px;
    background-image: url("https://vignette3.wikia.nocookie.net/ageofempires/images/5/50/Wiki-background/revision/latest?cb=20160212195826");
}

.center-video
{
    text-align: center;
}