<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Age of Empire</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['']">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/civilizations']">Civilizations</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/units']">Units</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/structures']">Structures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tecnologies']">Technologies</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>