<app-nav-bar></app-nav-bar>
<!-- Page Content -->
  <div class="container  mt-6">
    <br>
    <br>
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Civilizations</h1>
    </header>
    <!-- Page Features -->
    <div class="row text-center">
      <div  *ngFor = "let civilizationObject of civilizations | paginate: { itemsPerPage: 8, currentPage: page } " class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../img/aoe.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">{{civilizationObject.name}}</h4>
            <p class="card-text">{{civilizationObject.army_type}}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">{{civilizationObject.team_bonus}}!</a>
          </div>
        </div>
      </div>
      <pagination-controls class="my-pagination"
          (pageChange)="page = $event"
          maxSize="9"
          directionLinks="true"
          responsive="true"
          previousLabel="Previous"
          nextLabel="Next">
      </pagination-controls>  
    </div>
</div>
<app-footer></app-footer>
